.viewbox{
    background-color: var(--secondary);

    width: 100%;
    padding-top: 1em;
    height: 30em;
    overflow-y: auto;
    overflow-x: auto;      
    display: flex;
    flex-direction: column;

    outline: 0.25em solid var(--dark-third);
    border-radius: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.2em;
    
        
}
.consoleTextBox{
    background-color: var(--secondary);

    width: 100%;
    padding-left: 1em;
    padding-top: 1em;
    height: 30em;
    overflow-y: auto;
    overflow-x: auto;      
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 2em;
    color: white;

}


.consoleInputField{
  
  background-color: var(--light-secondary);
  padding: 0.25em 0.25em 0.25em 0.25em;
  border-radius: 1em;
  width: 95%;
  color: white;
}
.consoleInputButton{
    background-color: var(--light-secondary);
    padding: 0.25em 0.25em 0.25em 0.25em;
    border-radius: 1em;
    color: black;
}

.cpopup{
  background-color: #292929be;
  min-height: 20em;
}
.text{
    color: rgb(255, 255, 255);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #505050;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #383838;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b1b1b1;
  }
