.subContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 100%; /* Make the sub-container take up the full width of its parent */
    padding: 2em 2em 2em 2em;
  }

.container {
    display: flex;
    min-height: 80%;
    border-radius: 0.5em;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width:80%;
    gap: 3px;
    outline: 1px solid;
    outline-color: rgb(0, 0, 0);
    outline-width: 0.25em;
    background-color: rgb(81, 86, 114);
  }

.hidden {
  display: none;
}
.tabPage{
  display: block;
  height: 80%;
  width: 80%;
  background-color: rgb(48, 51, 68);
}

