.subContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 50em;
    max-width: 60em;
    max-height: 50em;
    gap: 1em;
    width: 100%; /* Make the sub-container take up the full width of its parent */
    padding: 2em 2em 2em 2em;
  }

.actionsScreen{
  display: flex;
  min-height: 37em;
  color: aliceblue;
  background-color: var(--code-bg);
  outline: 0.25em solid var(--dark-third);
  border-radius: 1em;
  margin-left: 2em;
  min-width: 55em;
  max-height: 90%;
  overflow-y: auto;

}


.container {
    display: flex;
    max-height: 43em;
    border-radius: 0.5em;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width:100%;
    overflow: hidden;
    gap: 3px;
    outline: 1px solid;
    outline-color: var(--primary);
    outline-width: 0.25em;
    background-color: var(--primary);
  }

.hidden {
  display: none;
}
.tabPage{
  display: block;
  height: 80%;
  width: 80%;
  background-color: rgb(48, 51, 68);
}

