

.App {
  background-color: rgb(41, 41, 41);
  display: flex; /* Add this to center the container */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ensure the body takes up the full viewport height */
  margin: 0; /* Remove default margin */
}


.server-name {
  color: aliceblue;
}

.sidebar-container{
  display:flex ;
  justify-content: center;
  width: 100%;
}